*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: monospace;
color: var(--theme-color);
background: var(--theme-bg-color);
}
:root{
    --theme-color: black;
    --theme-bg-color: white;
}
.container{
    background: var(--theme-bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Navbar */
.navbar{
  display: flex;
  position: absolute;
  margin: 20px 10px;
  right: 1%;
}
.navbar ul{
  display: flex;
  list-style: none;
  margin:auto 10px;
}
.navbar ul li{
  font-size: 1rem;
  margin: 10px;
}



.title{
    position: relative;
    font-size: 8rem;
    top: -10%;
}

.subtitle{
  font-size: 2rem;
}
#form{
    display: flex;
    background-color: var(--theme-color);
    width: 90%;
    max-width: 700px;
    padding: 10px 20px;
    border-radius: 50px;

}
#form #query{
    background: transparent;
    border: 0;
    flex: 1;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: var(--theme-bg-color);
}
#submit{
    padding: 1rem;
}
a{
    display: inherit;
    background: none;
    text-decoration: none;
  }
  .search-icon {
    background: none;
    margin: auto;
    width: 50px;
    height: 50px;
}
.search-icon .search-path{
    stroke: var(--theme-bg-color);
}
.search-icon:focus .search-path, .search-icon:hover .search-path {
    stroke: #299ecc;
  }
  .search-icon:active .search-path {
    stroke: #111516;
    stroke-width: 2px;
  }
 ::placeholder{
    color: gray;
 }

/* Advanced Search Page Styles */
#advform{
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
#advform >div{
  display: grid;
  grid-template-columns: 300px auto 20px auto;
  margin: 10px; 
}
div >input{
  grid-column: 2/5;
  padding: 5px;
  border-radius: 8px;
}
#advform >div:nth-child(6) input{
  grid-column: 2/3;
}
#advform >div:nth-child(6) input:last-child{
  grid-column: 4/5;
}
.sumbit{
  color: var(--theme-color);
  background: var(--theme-bg-color);
  width: 10rem;
  padding: 10px;
  margin: auto;

  border-radius: 14px;
  border: 1px solid var(--theme-color);
}
.sumbit:hover{
  cursor: pointer;
  border-color: #299ecc;
  color: #299ecc;
}
div >input:focus{
  border-color: #299ecc;
  color: #299ecc;

}
span{
  margin: auto 0px;
}



/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    margin: auto 0px;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

footer{
  background: black;
  color: #fff;
  text-align: center;
}

/* Responsiveness */

@media screen and (max-width: 700px){
    #form #query{
        font-size: 15px;
        padding: 10px 20px;
    }
  
    .search-icon {
        width: 30px;
    }
    .title{
        font-size: 5rem;
    }

    /* Advance Search Page */
    .ltitle{
      font-size: 5rem;
      margin-bottom: 6rem;
      top: 0;
    }
    .subtitle{
      font-size: 1rem;
    }
    .heading{
      margin-bottom: 10px;
    }
    #advform{
      width: 95%;
      font-size: 12px;
    }
    #advform >div{
      grid-template-columns: auto;
      margin: 8px; 
      grid-row-gap: 7px;
    }
    div >input{
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 5px;
      border-radius: 7px;
      font-size: 15 px;
    }
    #advform >div:nth-child(6) {
      display: flex;
      flex-direction: column;
    }
    #advform >div:nth-child(6) span:nth-child(3){
      text-align: center;
    }
  
}